<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/profile}">


<section layout:fragment="change-password">
    <div class="row my-4">
        <div class="col-lg-7 col-12">
            <div class="custom-block bg-white">


                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="profile-tab-pane" role="tabpanel"
                        aria-labelledby="profile-tab" tabindex="0">
                        <h6 class="mb-4">Change Password</h6>
                        <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

                        <form class="custom-form password-form" th:action="@{/profile/change-password}" method="post"
                            role="form" th:object="${changePasswordForm}">
                            <input type="password" th:field="*{oldPassword}" pattern="[0-9a-zA-Z]{4,10}"
                                class="form-control" placeholder="Current Password" required="">
                            <span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"
                                class="text-danger"></span>
                            <input type="password" th:field="*{newPassword}" pattern="[0-9a-zA-Z]{4,10}"
                                class="form-control" placeholder="New Password" required="">
                            <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                                class="text-danger"></span>
                            <input type="password" th:field="*{confirmPassword}" pattern="[0-9a-zA-Z]{4,10}"
                                class="form-control" placeholder="Confirm Password" required="">
                            <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"
                                class="text-danger"></span>
                            <div class="d-flex">
                                <button type="button" class="form-control me-3">
                                    Reset
                                </button>

                                <button type="submit" class="form-control ms-2">
                                    Update Password
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-5 col-12">
            <div class="custom-block custom-block-contact">
                <h6 class="mb-4">Still can’t find what you looking for?</h6>

                <p>
                    <strong>Call us:</strong>
                    <a href="tel: 305-240-9671" class="ms-2">
                        (60)
                        305-240-9671
                    </a>
                </p>

                <a href="#" class="btn custom-btn custom-btn-bg-white mt-3">
                    Chat with us
                </a>
            </div>
        </div>
    </div>
</section>