<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard | Admin Panel</title>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

  <!-- Icons -->
  <link rel="stylesheet" th:href="@{/admin/assets/vendor/fonts/boxicons.css}" />

  <!-- Core CSS -->
  <link rel="stylesheet" th:href="@{/admin/assets/vendor/css/core.css}" />
  <link rel="stylesheet" th:href="@{/admin/assets/vendor/css/theme-default.css}" />
  <link rel="stylesheet" th:href="@{/admin/assets/css/demo.css}" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" th:href="@{/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />

  <!-- Page-specific CSS (optional) -->
  <link rel="icon" type="image/png" th:href="@{/admin/assets/img/favicon/favicon.png}" />

  <!-- Helpers -->
  <script th:src="@{/admin/assets/vendor/js/helpers.js}"></script>
  <script th:src="@{/admin/assets/js/config.js}"></script>
</head>

<body>
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Sidebar -->
      <div th:replace="admin/fragment/sidebar :: sidebar"></div>

      <!-- Main content area -->
      <div class="layout-page">
        <!-- Navbar -->
        <div th:replace="admin/fragment/navbar :: navbar"></div>

        <!-- Content -->
        <div class="content-wrapper">
          <section layout:fragment="content">
            <!-- Nội dung của từng page cụ thể sẽ được render tại đây -->
          </section>
         <!-- Footer -->
        <div th:replace="admin/fragment/footer :: footer"></div>
        
         <div class="content-backdrop fade"></div>
        </div>
      </div>
        <!-- /Content wrapper -->
      <!-- /layout-page -->
    </div>

    <!-- Overlay for small devices -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>

  <!-- Core JS -->
  <script th:src="@{/admin/assets/vendor/libs/jquery/jquery.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/popper/popper.js}"></script>
  <script th:src="@{/admin/assets/vendor/js/bootstrap.js}"></script>
  <script th:src="@{/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
  <script th:src="@{/admin/assets/vendor/js/menu.js}"></script>
 <script th:src="@{/admin/assets/js/ui-image-preview.js}"></script>
  <!-- Vendors JS -->
  <script th:src="@{/admin/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

  <!-- Main JS -->
  <script th:src="@{/admin/assets/js/main.js}"></script>

</body>
</html>
