<html xmlns:th="http://www.thymeleaf.org">

</html>

<div th:fragment="siderbar">
    <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar collapse">
        <div class="position-sticky py-4 px-3 sidebar-sticky">
            <ul class="nav flex-column h-100">

                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/profile}">

                        Profile
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile/update}">

                        Update 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="help-center.html">

                        Change Password
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="help-center.html">

                        Help Center
                    </a>
                </li>

                <li class="nav-item featured-box mt-lg-5 mt-4 mb-4">
                    <img src="images/credit-card.png" class="img-fluid" alt="">

                    <a class="btn custom-btn" href="#">Upgrade</a>
                </li>

                <li class="nav-item border-top mt-auto pt-2">
                    <a class="nav-link"  th:href="@{/logout}">

                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>